@media screen and (max-width:1109px){

  .grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3vw;
  }

  .card{
    position:relative;
    height: 55vh;
    text-align: center;
  }

  #projectText{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin: auto;
  }

  #projectBrief{
    display: none;
  }

  #projectName{

  }

  #publicationsBody{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 4vh 0;
  }

  #publicationsBody .col1 #titleBlock h2{
    font-size: 3vw;
    color:white;
  }

  #publicationsBody .col1 a{
    color: grey;
    font-size: 2vw;
  }

  #publicationsBody .col2 p{
    position: relative;
    top: 50%;
    font-size: 2vw;
    transform: translateY(-50%);
    text-align: justify;
  }

}

@media screen and (max-width:998px){

  .banner>img{
    position: absolute;
    max-width: 4vw;
    max-height: 6vh;
    top:2vh;
    left: 4vw;
    transform: translateX(-50%);
  }

  #toggle{
    display: none;
  }

  #homePage{
    height: 93vh;
  }

  #homePage img{
    top:50%;
    max-height: 37%;
  }

  #homePage #motto{
    top:80%;
  }

  #publications{
      position:relative;
      width: 100%;
    }

    #publicationsBody{
      position: relative;
      height:75vh;
      width: 100%;
      padding: 0;
      margin: 4vh 0;
    }

    #publicationsBody .col1 #titleBlock h2{
      font-size: 3vw;
      color:white;
    }

    #publicationsBody .col1 a{
      color: grey;
      font-size: 1.5vw;
    }

    #publicationsBody .col2 p{
      position: relative;
      top: 50%;
      font-size: 2vw;
      transform: translateY(-50%);
      text-align: justify;
    }

}

/*this is for standard max-width 768 but to accomodate kindle I have set max-width to 800px*/
@media screen and (max-width:800px){
  .navbar{
    padding: .5rem 1rem;
    background: #212F3C;
  }
  .navbar-text{
    display: none;
  }

  #homePage{
    height: 90vh;
  }

  #homePage img{
    top:50%;
    max-height: 37%;
  }

}

@media screen and (max-width:550px){

  body,.wrapper{
    overflow-x: hidden;
  }

  .navbar{
    position: fixed;
    width: 100vw;
    top:0;
  }


  .grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1px;
  }

  .card{
    position:relative;
    height: 50vh;
    text-align: center;
    padding: 0px 0px;
    margin: 15px 2px;
  }

  #projectBrief{
    display: block;
    font-size: 0.8em;
  }

  #publicationsBody{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 4vh 0;
  }

  #publicationsBody .col1 #titleBlock h2{
    font-size: 6vw;
    color:white;
  }

  #publicationsBody .col1 a{
    color: grey;
    font-size: 3vw;
  }

  #publicationsBody .col2 p{
    position: relative;
    top: 50%;
    font-size: 2vw;
    transform: translateY(-50%);
    text-align: justify;
  }

  #aboutMeBox2 p{
    font-size: 0.38em;
  }

  #aboutMeHeader{
    position: relative;
    height: 70%;
  }

  #aboutMeHeader #Name{
    position: absolute;
    top:35vh;
    left:10vw;
    color:white;
    margin: 0px;
    padding: 0px;
  }

  #aboutMeHeader #Name h1{
    font-size: 2.5em;
  }

  #aboutMeHeader #Name #schedule, h3{
    font-size: 1em;
    opacity: 0.6;
  }

  #aboutMeFooter{
    height: 30%;
  }

  footer .logo{
    position: relative;
    border-top: 1px solid white;
    border-left: none;
    padding: 50px;
    margin: 0 50px;
  }

  .logo img{
    position: relative;
    left: 20%;
    top: 40%;
    transform: translate(-50%,-50%);
  }

  .copyright{
    font-size: 0.7em;
  }

}

@media screen and (max-width:430px){

  #homePage #motto{
    font-size: 5.5vw;
  }

  #projectBrief{
    padding:3px 5px;
    font-size: 0.58em;
  }

  #publicationsBody{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 4vh 0;
  }

  #publicationsBody .col1 #titleBlock h2{
    font-size: 6vw;
    color:white;
  }

  #publicationsBody .col1 a{
    color: grey;
    font-size: 2vw;
  }

  #publicationsBody .col2 p{
    position: relative;
    top: 50%;
    font-size: 2vw;
    transform: translateY(-50%);
    text-align: justify;
  }

  #imageBig{
    display: none;
  }

  #imageSmall{
    display: block;
  }

  #aboutMeBox2 p{
    font-size: 2vw;
  }


}
