@media screen and (max-width:998px){

  #NavItemLeft, #nameNav, .banner{
      display: none;

  }

  #toggle{
    display: inline;
  }

  #homePage{
    height: 50vh;
  }


}


@media screen and (max-width:1109px){
  .grid{
    position: relative;
    top:15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 1vh;
  }

  .card{
    position:relative;
    top: 10%;
    height: 40vh;
    margin-top: 8vh;
    margin-bottom: 4vh;
    text-align: center;
  }

  #projectText{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin: auto;
  }

  #projectBrief{
    display: none;
  }

  #projectTitle{

  }

}
