@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');
* {
  font-family: 'Comfortaa', cursive;
}

body,html,#wrapper{
  background: white;
  padding: 0px;
  margin: 0px;
}

#nav, nav{
  width: 100%;
  background: #566573;
  padding: 13px 0px 0px 0px;
}

nav li .schedule{
  color:black;
}

nav i:hover{
  padding: 0px;
  color: white;
}

#nav #banner img{
  width: 25px;
  height:20px;
}

#nav li{
  display:inline;
  padding: 0px 20px;
  margin: 0px;
}

#nav li a{
  color:#D0D3D4;
  padding: 0px;
  margin: 0px;
}

#nav li.non-banner a:hover{
    color: white;
    text-decoration: none;
}


.toggle{
  display:none;
  float:right;
}

#homePage{
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
}

#homePage img{
  position: absolute;
  height: 35vh;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homePage #motto{
  position: absolute;
  top:70vh;
  max-width: 100%;
  max-height: 100vh;
  text-align: center;
  color: #AED6F1;
  font-family: 'Comfortaa', cursive;
  font-size: 300%;
  padding: -10px;
  margin: -10px;
}

#projects{
  position: relative;
  width: 100%;
  height:100vh;
  background:url("../projects-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  box-shadow: white;
}

#titleProjects h2.no-span {
  position: relative;
  height: 0vh;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  color: white;
  display: table;
  white-space: nowrap;
}

#titleProjects h2.no-span:before,
#titleProjects h2.no-span:after {
  border-top: 5px solid white;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titleProjects h2.no-span:before {
  right: 1.5%;
}

#titleProjects h2.no-span:after {
  left: 1.5%;
}

#projects #cardRow{
  position: absolute;
  max-width: 100%;
  padding: 0px 10px 0px 30px;
  top:15vh;
}

.card{
  position: relative;
  top:15vh;
  background:white;
  opacity: 0.7;
}

.cardTitle h3{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

.card img{
  position: relative;
  height: 200px;
  width: 100%;
}

.cardDescription i{
  font-size:32px;
  position:relative;
  left:50%;
  transform:translate(-50%);
}

.card:hover{
  transform: scale3d(1.08, 1.08, 3);
  opacity:1;
  background: white;
  color:black;
  transition: .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#publications{
    position:relative;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background: silver;
}

#titlePublications h2.no-span {
  position: relative;
  font-size: 43px;
  display: table;
  white-space: nowrap;
  height: 0vh;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
}

#titlePublications h2.no-span:before,
#titlePublications h2.no-span:after {
  border-top: 5px solid black;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titlePublications h2.no-span:before {
  right: 1.5%;
}

#titlePublications h2.no-span:after {
  left: 1.5%;
}

#publicationsBody .row{
  position: relative;
}

#publicationsBody .row .col1{
  background:black;
  height: 70vh;
}

#publicationsBody .row .col1 h2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color:white;
}

#publicationsBody .row .col2{
  background: white;
}

#publicationsBody .row .col2 p{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#aboutMe{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#aboutMeHeader{
  position: relative;
  background: black;
  height: 80vh;
  width: 100%;
}

#aboutMeHeader #Name{
  position: absolute;
  top:35vh;
  left:10vw;
  color:white;
  margin: 0px;
  padding: 0px;
}

#aboutMeHeader #Name h1{
  font-size: 63px;
}

#aboutMeHeader #Name #schedule{
  font-size: 30px;
  opacity: 0.6;
}

#aboutMe #imageContainer img{
  position:absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#aboutMeFooter{
  position:relative;
  height: 20vh;
  width:100%;
  background: red;
  overflow: hidden;
}

#aboutMe .row{
  position: relative;
  height: 20vh;
  background: white;
}

#aboutMeBox1{
  background: rgb(30,30,30);
  position: relative;
}

#aboutMeBox1 h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: silver;
}

#aboutMeBox2{
  position: relative;
  background: grey;
}

#aboutMeBox2 p{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: 10px;
}

footer{
  position: relative;
  color:white;
  text-align:center;
  background:black;
}
