@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');
* {
  font-family: 'Comfortaa', cursive;
}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}


ul,li{
  list-style: none;
  margin: 0px;
}

.navbar{
  font-size: 0.8em;
  background: black;
  opacity: 1;
}

.navbar-text{
  color: white !important
}

#homePage{
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 7vh;
}

#homePage img{
  position: absolute;
  max-height:40%;
  max-width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homePage #motto{
  position: absolute;
  top:70%;
  max-width: 100%;
  max-height: 100vh;
  text-align: center;
  color: #AED6F1;
  font-family: 'Comfortaa', cursive;
  font-size: 3.5vw;
  padding: -10px;
  margin: -10px;
}

#projects{
  position: relative;
  width: 100%;
  height: auto;
  background:url("../projects-background.png");
  padding: 0px;
  margin: 0px;
}

.grid{
  position: relative;
  top:15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
}

.card{
  position:relative;
  top: 10%;
  height: 50vh;
  margin-top: 8vh;
  margin-bottom: 4vh;
  text-align: center;
  background: white;
  overflow: hidden;
  transition: transform .5s;
}

.card:hover, .card:focus{
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.card img{
  position: relative;
  width:100%;
  height: 70%;
}

#projectText{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  margin: auto;
}

#projectName{
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8em;
  margin: auto;
  padding: 2px;
}

#projectName a{
  color: black;
  text-decoration: none;
}

#projectBrief{
  display:flex;
  align-items:stretch;
  justify-content: center;
  font-size: 0.8em;
  color: grey;
}


#titleProjects{
  margin-bottom: 13vh;
  width: 100vw;
}

#titleProjects h2.no-span {
  position: relative;
  height: 0vh;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Comfortaa', cursive;
  font-size: 4vw;
  color: white;
  display: table;
  white-space: nowrap;
}

#titleProjects h2.no-span:before,
#titleProjects h2.no-span:after {
  border-top: 5px solid white;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titleProjects h2.no-span:before {
  right: 1.5%;
}

#titleProjects h2.no-span:after {
  left: 1.5%;
}

#publications{
    position:relative;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background: #EBEDEF;
}

#titlePublications h2.no-span {
  position: relative;
  font-size: 4vw;
  display: table;
  white-space: nowrap;
  height: 0vh;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
}

#titlePublications h2.no-span:before,
#titlePublications h2.no-span:after {
  border-top: 5px solid black;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titlePublications h2.no-span:before {
  right: 1.5%;
}

#titlePublications h2.no-span:after {
  left: 1.5%;
}

#publicationsBody{
  position: relative;
  margin-top: 4vh;
  height:60vh;
}

#publicationsBody .col1{
  background:black;
}

#publicationsBody .col1 #titleBlock{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#publicationsBody .col1 #titleBlock h2{
  font-size: 2vw;
  color:white;
}

#publicationsBody .col1 a{
  color: grey;
  font-size: 0.8vw;
}

#publicationsBody .col2{
  background:white;
}

#publicationsBody .col2 p{
  position: relative;
  top: 50%;
  font-size: 1.2vw;
  transform: translateY(-50%);
  text-align: justify;
}

#aboutMe{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#aboutMeHeader{
  position: relative;
  height: 80%;
}

#aboutMeFooter{
  position: relative;
  height: 20%;
}

#aboutMeHeader #imageContainer{
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
}

#aboutMeHeader #imageContainer img{
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

#aboutMeHeader #Name{
  position: absolute;
  top:35vh;
  left:10vw;
  color:white;
  margin: 0px;
  padding: 0px;
}

#aboutMeHeader #Name h1{
  font-size: 4vw;
}

#aboutMeHeader #Name #schedule, h3{
  font-size: 2vw;
  opacity: 0.6;
}

#imageSmall{
  display: none;
}

#aboutMe .row{
  position: relative;
  height: 100%;
  background: white;
}

#aboutMeBox1{
  background: rgb(30,30,30);
  position: relative;
}

#aboutMeBox1 h3{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: silver;
}

#aboutMeBox2{
  position: relative;
  background:white;
}

#aboutMeBox2 p{
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1vw;
  padding: 5px 5px;
}


#social{
  height: 20vh;
  line-height: 20vh;
  background:black;
  color: #2770B5;
  text-align: center;
  font-size: 2.7em;
  overflow: hidden;
}

footer{
  position: relative;
  background:black;/* #0C121E;*/
}

.footerLinks a{
  color: #ababab;
}


footer .logo{
  position: relative;
  border-left: 1px solid white;
}

.logo img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.copyright{
  background: black;
  text-align: center;
  line-height: 7vh;
  color: #ababab;
}

.copyright span{
  font-size: 0.6em;
  color: silver;
}

/*







footer{
  position: relative;
  height:25vh;
  background: black;
  overflow: hidden;
}

#social{
  position: relative;
  transition: transform 0.5s;
}

#social span{
  position:relative;
  font-size: 1.3em;
  color:#5DADE2;
}

footer .icons{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: grey;
  text-align: center;
}

.icons i{
  font-size: 2.0em;
  padding: 0px 10px;
}

.icons a{
  color: #5DADE2;
}

.footerResume{
  display: none;
}

footer i:hover{
  color: white;
}


footer #copyright{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  font-family: "comfortaa";
  margin: 0px;
  background: white;
  color: black;
  text-align: center;
}
