@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');
* {
  font-family: 'Comfortaa', cursive;
}

ul,li{
  list-style: none;
  margin: 0px;
}

nav{
  position: relative;
  display: inline-block;
  height: 7vh;
  width: 100%;
  background-color: rgba(40,40,40,0.8);
}


.banner>img{
  position: absolute;
  width: 2vw;
  height: 4vh;
  top:2vh;
  left: 65vw;
  transform: translateX(-50%);
}

.NavItem{
  line-height: 7vh;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.NavItem a{
  color: silver;
  font-size: 0.8em;
}

.NavItem a:hover{
  color: white;
  text-decoration: none;
}

#NavItemRight{
  color: white
}


#toggle{
  display: none;
  font-size: 1.3em;
  line-height: 7vh;
  vertical-align: middle;
  color: white;
}

#homePage{
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 7vh;
}

#homePage img{
  position: absolute;
  height: 35%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homePage #motto{
  position: absolute;
  top:70%;
  max-width: 100%;
  max-height: 100vh;
  text-align: center;
  color: #AED6F1;
  font-family: 'Comfortaa', cursive;
  font-size: 3.5vw;
  padding: -10px;
  margin: -10px;
}

#projects{
  position: relative;
  width: 100%;
  height: auto;
  background:url("../projects-background.png");
  padding: 0px;
  margin: 0px;
}

.grid{
  position: relative;
  top:15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
}

.card{
  position:relative;
  top: 10%;
  height: 50vh;
  margin-top: 8vh;
  margin-bottom: 4vh;
  text-align: center;
  overflow: hidden;
}

.card img{
  position: relative;
  width:100%;
  height: 70%;
}

#projectText{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  margin: auto;
}

#projectTitle{
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8em;
  margin: auto;
  padding: 2px;
}

#projectBrief{
  display:flex;
  align-items:stretch;
  justify-content: center;
  font-size: 0.8em;
}


#titleProjects{
  margin-bottom: 13vh;
  width: 100vw;
}

#titleProjects h2.no-span {
  position: relative;
  height: 0vh;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Comfortaa', cursive;
  font-size: 4vw;
  color: white;
  display: table;
  white-space: nowrap;
}

#titleProjects h2.no-span:before,
#titleProjects h2.no-span:after {
  border-top: 5px solid white;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titleProjects h2.no-span:before {
  right: 1.5%;
}

#titleProjects h2.no-span:after {
  left: 1.5%;
}

#publications{
    position:relative;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background: silver;
}

#titlePublications h2.no-span {
  position: relative;
  font-size: 4vw;
  display: table;
  white-space: nowrap;
  height: 0vh;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
}

#titlePublications h2.no-span:before,
#titlePublications h2.no-span:after {
  border-top: 5px solid black;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 25%;
}

#titlePublications h2.no-span:before {
  right: 1.5%;
}

#titlePublications h2.no-span:after {
  left: 1.5%;
}

#publicationsBody .row{
  position: relative;
  height:60vh;
}

#publicationsBody .row .col1{
  background:black;
}

#publicationsBody .row .col1 h2{
  position: relative;
  top: 50%;
  font-size: 2vw;
  transform: translateY(-50%);
  text-align: center;
  color:white;
}

#publicationsBody .row .col2{
  background: white;
}

#publicationsBody .row .col2 p{
  position: relative;
  top: 50%;
  font-size: 1.2vw;
  transform: translateY(-50%);
  text-align: center;
}

#aboutMe{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#aboutMeHeader{
  position: relative;
  background: black;
  height: 80vh;
  width: 100%;
}

#aboutMeHeader #Name{
  position: absolute;
  top:35vh;
  left:10vw;
  color:white;
  margin: 0px;
  padding: 0px;
}

#aboutMeHeader #Name h1{
  font-size: 4vw;
}

#aboutMeHeader #Name #schedule, h3{
  font-size: 2vw;
  opacity: 0.6;
}

#aboutMe #imageContainer img{
  position:absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#aboutMeFooter{
  position:relative;
  height: 20vh;
  width:100%;
  background: red;
  overflow: hidden;
}

#aboutMe .row{
  position: relative;
  height: 20vh;
  background: white;
}

#aboutMeBox1{
  background: rgb(30,30,30);
  position: relative;
}

#aboutMeBox1 h3{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: silver;
}

#aboutMeBox2{
  position: relative;
  background: grey;
}

#aboutMeBox2 p{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
  padding: 10px;
}

footer{
  position: relative;
  height:15vh;
  background: black;
  overflow: hidden;
}

#social{
  position: relative;
}

#social span{
  position:relative;
  style="font-size: 0.9em"
}

footer .icons{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: grey;
  text-align: center;
}

.icons i{
  font-size: 1.7em;
  padding: 0px 10px;
}

.icons a{
  color: grey;
}

footer i:hover{
  color: white;
}


footer #copyright{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: silver;
  color: black;
  text-align: center;
}
