@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');
* {
  font-family: 'Comfortaa', sans-serif;
}

html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body,.wrapper, h2{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color:#636363;
    transition: color 0.5s;
}

a:hover{
    text-decoration: none;
    color:inherit;
}


ul,li{
  list-style: none;
  margin: 0px;
}


.navbar{
  position: sticky;
  position: -webkit-sticky;
  position: -ms-sticky;
  top: 0;
  z-index: 10;
  font-size: 0.8em;
  background: black;
  opacity: 1;
  padding: 0px !important;
  margin: 0px !important
}


.navbar-text{
  color: white !important
}

#homePage{
  background: black;
  height: 93vh;
  width: 100%;
  position: relative;
  padding-top: 7vh;
}

#homePage img{
  position: absolute;
  max-height:40%;
  max-width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homePage #motto{
  position: absolute;
  top:70%;
  max-width: 100%;
  max-height: 100vh;
  text-align: center;
  color: #AED6F1;
  font-family: 'Comfortaa', sans-serif;
  font-size: 3.5vw;
  padding: -10px;
  margin: -10px;
}

.dotMotto1{
  position: absolute;
  animation: liftDot1 5s infinite;
}

.dotMotto2{
  position: absolute;
  animation: liftDot2 5s infinite;
}

.dotMotto3{
  position: absolute;
  animation: liftDot3 5s infinite;
}

.chatBoxContainer{
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 80px;
  width: 100px;
}

.circle span{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.circle{
  position: absolute;
  background: #3498DB;;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
}

.circle:nth-child(2){
  position: absolute;
  right:0px;
  top:40px;
  height: 30px;
  width: 30px;
  border-radius: 50% 50% 50% 50%;
}

.bouncingArrow{
  position:absolute;
  color:#3498DB;
  right: 50%;
  bottom: 0px;
  font-size:2.5em;
  opacity:0.4;
  animation: bounce 1s infinite ease-in-out;
}

.dots{
    position: fixed;
    left: 10px;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 10000;
}

.dot {
  height: 12px;
  width: 12px;
  background-color:white; /*color of logo: #63caf3;*/
  border:0.5px solid black;
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
  opacity: 0.3;
  transition: opacity 0.5s;
}


#projects{
  position: relative;
  width: 100%;
  background:url("../projects-background.png");
  /*background-attachment: fixed;*/
  padding-top: 8vh;
  padding-bottom: 10px;
  margin: 0px;
  overflow: hidden;
}

#titleProjects{
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
  font-size: 4vw;
  color: white;
}

#titleProjects #titleContainer hr{
  position: relative;
  background: white;
  padding: 0px;
  margin: 0px auto;
  transition: width 2s;
  margin-top: 5px;
}

.grid{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  padding-top: 30px;
  padding-bottom: 30px;
}

#projects .card{
  position:relative;
  top: 0;
  height: 55vh;
  margin-bottom: 4vh;
  text-align: center;
  background: white;
  overflow: hidden;
  transition: transform .5s;
}

#projects .card:hover, .card:focus{
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

#projects .card img{
  position: relative;
  width:100%;
  height: 70%;
}

#projectText{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  margin: auto;
}

#projectName{
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8em;
  margin: auto;
  padding: 2px;
}

#projectName a{
  color: black;
  text-decoration: none;
}

#projectBrief{
  display:flex;
  align-items:center;
  justify-content: center;
  font-size: 0.8em;
  color: grey;
}

#projectButton button{
  color: black;
  background: #fafafa;
  z-index: 10;
  transition: background 0.2s linear;
}

#projectButton span{
  max-width: 0;
  -webkit-transition: max-width 0.2s;
  transition: max-width 0.2s, padding-left 0.2s;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

#projectButton button:hover{
  border: 1px solid black;
  background: black;
  color: white;
  z-index: 100;
}

#projectButton button:hover span{
  max-width: 10rem;
  padding-left: 15px;
}

#publications{
    position:relative;
    width: 100%;
    padding-top: 8vh;
    padding-bottom: 40px;
    margin: 0px;
    overflow: hidden;
    background: #EBEDEF;
}

#titlePublications {
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
  font-size: 4vw;
  color: black;
}

#titlePublications #titleContainer hr{
  position: relative;
  background: black;
  padding: 0px;
  margin: 0px auto;
  margin-top: 5px;
  transition: width 2s
}

#publicationsBody{
  position: relative;
  margin-top: 4vh;
  min-height:60vh;
}

#publicationsBody .col1{
  background:black;
}

#publicationsBody .col1 #titleBlock{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#publicationsBody .col1 #titleBlock h2{
  font-size: 2vw;
  color:white;
}

#publicationsBody .col1 a{
  color: grey;
  font-size: 0.8vw;
}

#publicationsBody .col2{
  background:white;
}

#publicationsBody .col2 p{
  position: relative;
  top: 50%;
  font-size: 1.2vw;
  transform: translateY(-50%);
  text-align: justify;
}

#aboutMe{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#aboutMeHeader{
  position: relative;
  height: 80%;
}

#aboutMeFooter{
  position: relative;
  height: 20%;
}

#aboutMeHeader #imageContainer{
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
}

#aboutMeHeader #imageContainer img{
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: transform 1s;
}

#aboutMeHeader #Name:hover + #imageContainer img{
transform: scale(1.08);

}

#aboutMeHeader #Name{
  position: absolute;
  top:35vh;
  left:10vw;
  color:white;
  margin: 0px;
  padding: 0px;
  z-index: 10;
}

#aboutMeHeader #Name h1{
  font-size: 4vw;
}

#aboutMeHeader #Name #schedule, h3{
  font-size: 2vw;
  opacity: 0.6;
}

#imageSmall{
  display: none;
}

#aboutMe .row{
  position: relative;
  height: 100%;
  background: white;
}

#aboutMeBox1{
  background: rgb(30,30,30);
  position: relative;
}

#aboutMeBox1 h3{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: silver;
}

#aboutMeBox2{
  position: relative;
  background:white;
}

#aboutMeBox2 p{
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1vw;
  padding: 5px 5px;
}

#social{
  position: relative;
  padding-top: 7vh;
  background:black;
  text-align: center;
  font-size: 2.5em;
  overflow: hidden;
  border-top: 2px solid #2D9AED;
}

#social a{
  color:#2D9AED;
  z-index: 10;
}

#social a:hover{
  color: #fafafa;
  z-index: 100;
}

#resume{
  position: relative;
  min-height: 15vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume button{
  background:black;
  color: black;
  background: #2D9AED;
  z-index: 10;
  transition: background 0.3s linear;
}

#resume span{
  max-width: 0;
  -webkit-transition: max-width 0.3s;
  transition: max-width 0.3s;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

#resume button:hover{
  border: 1px solid #2D9AED;
  background: black;
  color:#fafafa;
  z-index: 100;
}

#resume button:hover span{
  max-width: 5rem;
}

footer{
  position: relative;
  background:black;/* #0C121E;*/
}

.footerLinks a{
  color: #ababab;
}

.footerLinks a:hover{
  color: white;
}

footer .logo{
  position: relative;
  border-left: 1px solid white;
}

.logo img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.copyright{
  background: black;
  text-align: center;
  line-height: 7vh;
  color: #ababab;
  font-size: 0.7em;
}

@keyframes bounce{
  0% {bottom: 0px;opacity:1}
  25% {bottom: 2px;opacity:0.4}
  50% {bottom: 5px;opacity:0.4}
  75% {bottom: 2px;opacity:0.4}
  100% {bottom: 0px;opacity:1}
}

@keyframes liftDot1 {
  0% {bottom: 0px}
  14% {bottom: 15px}
  28% {bottom: 0px}
  42% {bottom: 0px}
  56% {bottom: 15px}
  70% {bottom: 0px}
  84% {bottom: 0px}
  100% {bottom: 0px}
}

@keyframes liftDot2 {
  0% {bottom: 0px}
  14% {bottom: 0px}
  28% {bottom: 15px}
  42% {bottom: 0px}
  56% {bottom: 0px}
  70% {bottom: 15px}
  84% {bottom: 0px}
  100% {bottom: 0px}
}

@keyframes liftDot3 {
  0% {bottom: 0px}
  14% {bottom: 0px}
  28% {bottom: 0px}
  42% {bottom: 15px}
  56% {bottom: 0px}
  70% {bottom: 0px}
  84% {bottom: 15px}
  100% {bottom: 0px}
}

@keyframes changeColor {
  0% {color: #2D9AED}
  50% {color:  grey}
  100% {color: #2D9AED}
}
